.image {
    display: block;
    max-width: 50%;
    height: auto;
    text-indent: 0%;
}

.text {
    position: absolute;
    top: 20%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/Cover/Background.png");
    color: #da0101;
    font-size: 24px;
    font-weight: bold;
    z-index: 1; /* вывод текста над изображением */
}