body {
    min-height: 100%;
    font-family: Uni Sans;
    display: flex;
    flex-direction: column;
}

.body {
    background-color: rgb(255, 255, 255);
}


/*wrapper*/

.wrapper {
    border: 1px solid rgb(0, 0, 0);
    width: 2010px;
    height: 730px;
    max-width: 2010px;
    display: grid;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.wrapper {
    background-image: url("img/Cover/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 600px) {
    .wrapper {
        max-width: 600px;
        width: 960px;
        height: 1000px;
    }
}


/*Get solution*/

.title h1 {
    width: 1172px;
    height: 140px;
    margin-top: 66px;
    margin-left: 390px;
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-size: 29px;
    text-shadow: 5px 5px 5px black;
}

.Description h2 {
    width: 500px;
    margin-top: -275px;
    margin-left: 390px;
    color: #ffffff;
    font-size: 17px;
    opacity: 0.8;

    font-family: "Nunito", sans-serif;
}

.btn {
    display: block;
    width: 205px;
    height: 55px;
    margin: -495px 0 0 1415px;

    border: 1px solid #000000;
    background-color: #4285F4;
    border-radius: 3px;
    color: #ffffff;
    
    font-family: inherit;
    font-family: "Jost", sans-serif;
    font-size: 16px;
}

.btn:focus{
    outline: 0;
    flex-basis: 100%;
}

.btn:active {
    background-color: rgb(4, 43, 121);
}


@media (hover: hover) {
    .btn:hover {
        background-color: #1154c0;
        cursor: pointer;
    }
}

.border-up {
    border: 1px solid rgb(255, 255, 255);
    margin: -523px 0 0 360px;
    margin-right: -115px;
    margin-left: 390px;
    display: flex;
    opacity: 15%;
}

@media screen and (max-width: 600px) {
    .title h1 {
        margin-left: 23px;
        display: flex;
        margin-top: 20px;
        
        width: 550px;
    }

    .Description h2 {
        margin-left: 140px;
        display: flex;
        margin-top: -380px;
        opacity: 0.8;
        
        width: 550px;
    }

    .btn {
        margin-left: 190px;
        display: block;
        margin-top: -610px;

        border: 1px solid #000000;
        background-color: #4285F4;
        border-radius: 3px;
        color: #ffffff;
        
        font-family: inherit;
        font-family: "Jost", sans-serif;
        font-size: 16px;
        
        width: 200px;
    }

    .border-up {
        border: 1px solid rgb(255, 255, 255);
        margin-top: -800px;
        margin-right: -180px;
        margin-left: 5px;
        display: flex;
        opacity: 15%;
    }
}


/*logo*/

.logo-title {
    width: 162px;
    display: flex;
    margin: 80px 0 0 390px;
}

.text-logo {
    color: #FFFFFF;
    font-size: 18px;
    width: 26%;
    margin: 4px 0 0 395px;
    line-height: 1.7;
    opacity: 0.8;
    
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

.logo-icon {
    display: block;
    margin-top: 10px;
    margin-left: 390px; 
    position: relative; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icon1 {
    margin-right: 5px;
    width: 38px;
}


.icon1:hover {
    cursor: pointer;
    opacity: 0.5;
}

.icon2 {
    margin-right: 5px;
    width: 38px;
}

.icon2:hover {
    cursor: pointer;
    opacity: 0.5;
}


.icon3 {
    margin-right: 5px;
    width: 38px;
}

.icon3:hover {
    cursor: pointer;
    opacity: 0.5;
}

.icon4 {
    margin-right: 5px;
    width: 38px;
}

.icon4:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .logo-title {
        margin-left: 200px;
        display: flex;
        margin-top: 30px;
        
        width: 162px;
    }

    .text-logo {
        margin-left: 65px;
        display: flex;
        margin-top: 10px;
        opacity: 0.8;
        
        width: 500px;
    }

    .logo-icon {
    display: block;
    margin-top: 10px;
    margin-left: 200px; 
    position: relative;
    }

}


/*Company*/

.Company h1 {
    color: #FFFFFF;
    font-size: 23px;
    width: 22%;
    margin-top: -220px;
    margin-left: 810px; 
    line-height: 1.7;
    
    display: grid;
    font-family: "Jost", sans-serif;
}

.Home{
    color: #FFFFFF;
    font-size: 16px;
    width: 1%;
    margin-top: -4px;
    margin-left: 810px; 
    line-height: 2.5;
    opacity: 0.8;
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

.Abput-Us {
    color: #FFFFFF;
    font-size: 16px;
    width: 10%;
    margin-top: -4px;
    margin-left: 810px; 
    line-height: 2.0;
    opacity: 0.8;
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

.Services {
    color: #FFFFFF;
    font-size: 16px;
    width: 10%;
    margin-top: -4px;
    margin-left: 810px; 
    line-height: 2.0;
    opacity: 0.8;
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

.Testimonial {
    color: #FFFFFF;
    font-size: 16px;
    width: 10%;
    margin-top: -4px;
    margin-left: 810px; 
    line-height: 2.0;
    opacity: 0.8;
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 600px) { 
    .Company h1 {
        margin-left: 120px;
        display: block;
        margin-top: 20px;
        width: 162px;
    }

    .Home {
        margin-left: 160px;
        display: block;
        margin-top: -5px;
        line-height: 2.5;
        opacity: 0.8;
        
        width: 50px;
        font-family: "Nunito", sans-serif;
    }

    .Abput-Us {
        margin-left: 150px;
        display: block;
        margin-top: -10px;
        line-height: 2.5;
        opacity: 0.8;
        
        width: 100px;
        font-family: "Nunito", sans-serif;
    }

    .Services {
        margin-left: 153px;
        display: block;
        margin-top: 15px;
        line-height: 1.5;
        opacity: 0.8;
        
        width: 50px;
        font-family: "Nunito", sans-serif;
    }

    .Testimonial {
        margin-left: 142px;
        display: block;
        margin-top: -5px;
        line-height: 2.5;
        opacity: 0.8;
        
        width: 50px;
        font-family: "Nunito", sans-serif;
    }
}


/*Navigator*/

.Basik-Info h1 {
    color: #FFFFFF;
    font-size: 23px;
    width: 22%;
    margin-top: -240px;
    margin-left: 1043px; 
    line-height: 1.7;
    display: flex;
    font-family: "Jost", sans-serif;
}


 .call {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 35px;
    margin-left: 1075px; 
    line-height: 1.0;
    opacity: 0.9;
    
    text-decoration: none;
    display: flex;
} 

.call:hover {
    cursor: pointer;
    opacity: 0.5;
}

.gmile {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 23px;
    margin-left: 1075px; 
    line-height: 1.0;
    opacity: 0.9;
    
    text-decoration: none;
    display: flex;
}

.gmile:hover {
    cursor: pointer;
    opacity: 0.5;
}

.location {
    color: #FFFFFF;
    font-size: 17.5px;
    width: 14%;
    margin-top: 23px;
    margin-left: 1075px; 
    line-height: 1.5;
    opacity: 0.9;
    
    text-decoration: none;
    display: flex;
}

.location:hover {
    cursor: pointer;
    opacity: 0.5;
}

.icon-call {
    width: 14px;
    margin-top: -135px;
    margin-left: 1045px; 
    
    text-decoration: none;
    display: flex;
}

.icon-gmile {
    width: 14px;
    margin-top: 30px;
    margin-left: 1045px; 
    
    text-decoration: none;
    display: flex;
}

.icon-vector {
    width: 14px;
    margin-top: 30px;
    margin-left: 1045px; 
    
    text-decoration: none;
    display: flex;
}

@media screen and (max-width: 600px) { 
.Basik-Info h1 {
        margin-left: 320px;
        display: flex;
        margin-top: -243px;
        width: 500px;
}

.call {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 350px; 
    opacity: 0.9;
    width: 200px;
    
    text-decoration: none;
    display: flex;
}

.icon-call {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: -144px;
    margin-left: 320px; 
    opacity: 0.7;
    
    text-decoration: none;
    display: flex;
}

.gmile {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 350px; 
    opacity: 0.9;
    
    text-decoration: none;
    display: flex;
}

.icon-gmile {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 33px;
    margin-left: 320px; 
    opacity: 0.7;
    
    text-decoration: none;
    display: flex;
}

.location {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 350px; 
    opacity: 0.9;
    width: 200px;
    
    text-decoration: none;
    display: flex;
}

.icon-vector {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 35px;
    margin-left: 320px; 
    opacity: 0.7;
    
    text-decoration: none;
    display: flex; 
}

}


/*Newsletter*/

.Newsletter h1 {
    color: #FFFFFF;
    font-size: 23px;
    width: 22%;
    margin-top: -180px;
    margin-left: 1340px; 
    line-height: 1.7;
    
    display: grid;
    font-family: "Jost", sans-serif;
}

.Newsletter-text {
    color: #FFFFFF;
    font-size: 18px;
    width: 15%;
    margin-top: 25px;
    margin-left: 1340px; 
    line-height: 1.7;
    opacity: 0.8;
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

.page-Newsletter-email {
    width: 200px;
    height: 10px;
    position: relative;
    display: flex;

    font-family: inherit;
}

.form-box {
    padding: 1px 1px;
    border-radius: 1px;
    position: relative;
    display: flex;
    margin: 7px 0 0 1340px;
}

.form-box input {
    font-size: 18px;
    color: black;
    padding: 17px 25px;
    
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: "Nunito", sans-serif;
}

.form-box button {
    position: absolute;
    padding: 18px 24px;
    bottom: 0;
    outline: none;
    background-color: #4285F4;

    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    left: 217px;
}

.form-box button:hover {
    background-color: #1154c0;
    opacity: 1.0;
}

@media screen and (max-width: 600px) { 
      .Newsletter h1 {
        margin-left: 245px;
        display: flex;
        margin-top: 100px;
        
        width: 500px;
      }

.Newsletter-text {
        margin-left: 140px;
        display: flex;
        margin-top: -10px;
        
        width: 400px;
}

.page-Newsletter-email {
    margin-left: -1180px;
    margin-top: -10px;
    width: 200px;
    height: 10px;
    position: relative;
    display: flex;

    font-family: inherit;
}

.form-box input {
    padding: 18px 25px;
    font-family: "Nunito", sans-serif;
}


.form-box button {
    padding: 19px 24px;
}

}


/*footer*/

.border-down {
    border: 1px solid rgb(255, 255, 255);
    margin: 193px;
    margin-left: 1px;
    margin-right: -510px;
    display: flex;
    opacity: 15%;
}

.footer-text {
    color: #FFFFFF;
    font-size: 10px;
    width: 22%;
    margin-top: -165px;
    margin-left: 895px; 
    opacity: 0.8;
    
    display: flex;
    font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 600px) { 
    .border-down {
        border: 1px solid rgb(255, 255, 255);
        margin-top: 110px;
        margin-right: -180px;
        margin-left: 3px;
        display: flex;
        opacity: 15%;
    }

    .footer-text {
        margin-left: 180px;
        display: flex;
        margin-top: -175px;
        opacity: 0.8;
        font-family: "Nunito", sans-serif;
        
        width: 400px;
    }

}
