body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;

    width: 1500px;
    height: 200px;
    max-width: 1600px;
    margin: 0 auto;


}

* {
    box-sizing: border-box;
  }



.body {
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  

  @media screen and (max-width: 600px) {
    .body {
        font-family: Uni Sans;
        display: grid;
        flex-direction: column;
        justify-content: left;
    
        background-position: center;
        background-size: contain;

        margin: 0;
        padding: 0;
        overflow-x: hidden;

        max-width: 600px;
        width: 100px;
        height: 1010px;

    }
}

/*wrapper*/

.wrapper {
    border: 1px solid rgb(0, 0, 0);
    height: 688px;
    width: 1600px;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    background-color: rgb(255, 255, 255);

    background-image: url("img/Cover/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




@media screen and (max-width: 600px) {
    .wrapper {

        width: 575px;
        height: 1244px;
        max-width: 600px;
        display: grid;
        grid-template-columns: 1fr;
        box-sizing: border-box;
        justify-content: left;
        
        

        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}


.title h1 {
    width: 1172px;
    height: 140px;
    margin-top: 60px;
    margin-left: 175px;
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-size: 27px;
    text-shadow: 5px 5px 5px black;
}

.Description h2 {
    width: 500px;
    margin-top: -110px;
    margin-left: 180px;
    color: #ffffff;
    font-size: 15.5px;
    opacity: 0.8;

    font-family: "Nunito", sans-serif;
}

.btn {
    display: block;
    width: 175px;
    height: 50px;
    margin: -140px 0 0 1155px;

    border: 1px solid #000000;
    background-color: #4285F4;
    border-radius: 3px;
    color: #ffffff;
    
    font-family: inherit;
    font-family: "Jost", sans-serif;
    font-size: 14px;
}

.btn:focus{
    outline: 0;
    flex-basis: 100%;
}

.btn:active {
    background-color: rgb(4, 43, 121);
}


@media (hover: hover) {
    .btn:hover {
        background-color: #1154c0;
        cursor: pointer;
    }
}

.border-up {
    border: 1px solid rgb(255, 255, 255);
    margin: -20px;
    margin-bottom: 490px;
    margin-right: 170px;
    margin-left: 170px;
    display: grid;
    opacity: 15%;

}

@media screen and (max-width: 600px) {
    .title h1 {
        margin-left: 40px;
        display: flex;
        margin-top: 20px;
        
        width: 530px;
    }

    .Description h2 {
        margin-left: 150px;
        display: flex;
        margin-top: -375px;
        opacity: 0.8;
        
        width: 285px;
    }

    .btn {
        margin-left: 190px;
        display: block;
        margin-top: -495px;

        border: 1px solid #000000;
        background-color: #4285F4;
        border-radius: 3px;
        color: #ffffff;
        
        font-family: inherit;
        font-family: "Jost", sans-serif;
        font-size: 16px;
        
        width: 200px;
    }

    .border-up {
        border: 1px solid rgb(255, 255, 255);
        margin: 10px;
        margin-bottom: 105px;
        margin-top: -630px;
        margin-right: -1px;
        margin-left: -15px;
        display: grid;
        opacity: 15%;

        
          
    }
}


/*logo*/

.logo-title {
    width: 150px;
    display: flex;
    margin: -415px 0 0 185px;
}

.text-logo {
    color: #FFFFFF;
    font-size: 16px;
    width: 21%;
    margin: -360px 0 0 190px;
    display: grid;
    line-height: 1.7;
    opacity: 0.8;
    
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

.logo-icon {
    display: block;
    margin-top: 10px;
    margin-left: 200px; 
    position: relative; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icon1 {
    margin-right: 5px;
    width: 30px;
}


.icon1:hover {
    cursor: pointer;
    opacity: 0.5;
}

.icon2 {
    margin-right: 5px;
    width: 30px;
}

.icon2:hover {
    cursor: pointer;
    opacity: 0.5;
}


.icon3 {
    margin-right: 5px;
    width: 30px;
}

.icon3:hover {
    cursor: pointer;
    opacity: 0.5;
}

.icon4 {
    margin-right: 5px;
    width: 30px;
}

.icon4:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .logo-title {
        margin-left: 200px;
        display: flex;
        margin-top: -820px;
        
        width: 162px;
    }

    .text-logo {
        margin-left: 90px;
        display: flex;
        margin-top: -770px;
        opacity: 0.8;
        
        width: 410px;
    }

    .logo-icon {
    display: flex;
    margin-top: 10px;
    margin-left: 220px; 
    position: relative;
    }

}


/*Company*/

.Company h1 {
    color: #FFFFFF;
    font-size: 23px;
    width: 22%;
    margin-top: -245px;
    margin-left: 580px; 
    line-height: 1.7;
    
    display: grid;
    font-family: "Jost", sans-serif;
}

.Home{
    color: #FFFFFF;
    font-size: 16px;
    width: 1%;
    margin-top: -4px;
    margin-left: 580px; 
    line-height: 2.5;
    opacity: 0.8;
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

.Abput-Us {
    color: #FFFFFF;
    font-size: 16px;
    width: 10%;
    margin-top: -4px;
    margin-left: 580px; 
    line-height: 2.0;
    opacity: 0.8;
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

.Services {
    color: #FFFFFF;
    font-size: 16px;
    width: 10%;
    margin-top: -4px;
    margin-left: 580px; 
    line-height: 2.0;
    opacity: 0.8;
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

.Testimonial {
    color: #FFFFFF;
    font-size: 16px;
    width: 10%;
    margin-top: -4px;
    margin-left: 580px; 
    line-height: 2.0;
    opacity: 0.8;
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 600px) { 
    .Company h1 {
        margin-left: 120px;
        display: block;
        margin-top: 20px;
        width: 162px;
    }

    .Home {
        margin-left: 160px;
        display: block;
        margin-top: -5px;
        line-height: 2.5;
        opacity: 0.8;
        
        width: 50px;
        font-family: "Nunito", sans-serif;
    }

    .Abput-Us {
        margin-left: 150px;
        display: block;
        margin-top: -10px;
        line-height: 2.5;
        opacity: 0.8;
        
        width: 100px;
        font-family: "Nunito", sans-serif;
    }

    .Services {
        margin-left: 153px;
        display: block;
        margin-top: 15px;
        line-height: 1.5;
        opacity: 0.8;
        
        width: 50px;
        font-family: "Nunito", sans-serif;
    }

    .Testimonial {
        margin-left: 142px;
        display: block;
        margin-top: -5px;
        line-height: 2.5;
        opacity: 0.8;
        
        width: 50px;
        font-family: "Nunito", sans-serif;
    }
}


/*Navigator*/

.Basik-Info h1 {
    color: #FFFFFF;
    font-size: 23px;
    width: 22%;
    margin-top: -240px;
    margin-left: 785px; 
    line-height: 1.7;
    display: flex;
    font-family: "Jost", sans-serif;
}


 .call {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 35px;
    margin-left: 820px; 
    line-height: 1.0;
    opacity: 0.9;
    
    text-decoration: none;
    display: flex;
} 

.call:hover {
    cursor: pointer;
    opacity: 0.5;
}

.gmile {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 23px;
    margin-left: 820px; 
    line-height: 1.0;
    opacity: 0.9;
    
    text-decoration: none;
    display: flex;
}

.gmile:hover {
    cursor: pointer;
    opacity: 0.5;
}

.location {
    color: #FFFFFF;
    font-size: 17.5px;
    width: 14%;
    margin-top: 23px;
    margin-left: 820px; 
    line-height: 1.5;
    opacity: 0.9;
    
    text-decoration: none;
    display: flex;
}

.location:hover {
    cursor: pointer;
    opacity: 0.5;
}

.icon-call {
    width: 14px;
    margin-top: -130px;
    margin-left: 790px; 
    
    text-decoration: none;
    display: flex;
}

.icon-gmile {
    width: 14px;
    margin-top: 24px;
    margin-left: 790px; 
    
    text-decoration: none;
    display: flex;
}

.icon-vector {
    width: 13px;
    margin-top: 30px;
    margin-left: 790px; 
    
    text-decoration: none;
    display: flex;
}

@media screen and (max-width: 600px) { 
.Basik-Info h1 {
        margin-left: 320px;
        display: flex;
        margin-top: -243px;
        width: 110px;

        overflow: hidden;
}

.call {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 350px; 
    opacity: 0.9;
    width: 200px;
    
    text-decoration: none;
    display: flex;
}

.icon-call {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: -144px;
    margin-left: 320px; 
    opacity: 0.7;
    
    text-decoration: none;
    display: flex;
}

.gmile {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 350px; 
    opacity: 0.9;
    
    text-decoration: none;
    display: flex;

    
}

.icon-gmile {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 33px;
    margin-left: 320px; 
    opacity: 0.7;
    
    text-decoration: none;
    display: flex;
}

.location {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 350px; 
    opacity: 0.9;
    width: 200px;
    
    text-decoration: none;
    display: flex;
}

.icon-vector {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 35px;
    margin-left: 320px; 
    opacity: 0.7;
    
    text-decoration: none;
    display: flex; 
}

}


/*Newsletter*/

.Newsletter h1 {
    color: #FFFFFF;
    font-size: 23px;
    width: 22%;
    margin-top: -180px;
    margin-left: 1065px; 
    line-height: 1.7;
    
    display: grid;
    font-family: "Jost", sans-serif;
}

.Newsletter-text {
    color: #FFFFFF;
    font-size: 18px;
    width: 15%;
    margin-top: 25px;
    margin-left: 1065px; 
    line-height: 1.7;
    opacity: 0.8;
    
    display: grid;
    font-family: "Nunito", sans-serif;
}

.page-Newsletter-email {
    width: 200px;
    height: 10px;
    position: relative;
    display: flex;

    font-family: inherit;
}

.form-box {
    padding: 0;
    border-radius: 1px;
    position: relative;
    margin: 5px 0 0 1063px;
}

.form-box input {
    font-size: 18px;
    color: black;
    padding: 17px 25px;
    
    
    outline: none;
    border-radius: 3px;
    font-family: "Nunito", sans-serif;
}

.form-box button {
    position: absolute;
    padding: 18px 24px;
    bottom: 0;
    outline: none;
    background-color: #4285F4;

    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    left: 217px;
}

.form-box button:hover {
    background-color: #1154c0;
    opacity: 1.0;
}

@media screen and (max-width: 600px) { 
      .Newsletter h1 {
        margin-left: 245px;
        display: flex;
        margin-top: 100px;
        
        width: 120px;
      }

.Newsletter-text {
        margin-left: 140px;
        display: flex;
        margin-top: -10px;
        
        width: 400px;
}

.page-Newsletter-email {
    margin-left: -900px;
    margin-top: -10px;
    width: 200px;
    height: 10px;
    position: relative;
    display: flex;

    font-family: inherit;
}

.form-box input {
    padding: 16.5px 25px;
    font-family: "Nunito", sans-serif;
    display: flex;
}


.form-box button {
    padding: 18px 24px;
}

}


/*footer*/

.border-down {
    border: 1px solid rgb(255, 255, 255);
    margin: 205px;
    margin-left: 1px;
    margin-right: -115px;
    display: flex;
    opacity: 15%;
}

.footer-text {
    color: #FFFFFF;
    font-size: 10px;
    width: 22%;
    margin: -180px;
    margin-left: 640px; 
    opacity: 0.8;
    
    display: flex;
    font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 600px) { 
    .border-down {
        border: 1px solid rgb(255, 255, 255);
        margin-top: 150px;
        margin-right: -20px;
        margin-left: 1px;
        display: flex;
        opacity: 15%;
    }

    .footer-text {
        margin-left: 180px;
        display: flex;
        margin-top: -180px;
        opacity: 0.8;
        font-family: "Nunito", sans-serif;
        
        width: 370px;
    }

}
